#container{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 3px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.box{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    font-size: 50px;
    border-radius: 10px;
    text-align: center;
}
