#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    border: 3px solid black;
    margin: 10px auto;
    display: flex;
     flex-direction:row;
     justify-content: flex-start; 
     flex-wrap: wrap;
     justify-content: center;
     align-content: space-around;
     flex: 2 2 100px;
}
h1{
    text-align: center;
}

#container div{
  height: 50px;
  width: 300px;  
  color: white;
  text-align: center;
  font-size: 1.5em;
}